

/*页脚*/
.footer {
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 45px 0 45px 0;
    background: #212121;
    color: #f8f9f8;
    z-index: 10;
    font-size: 12px;
    text-align: center;
}

footer p {
    line-height: 30px;
    margin: 0;
    padding: 0;
}
footer a {
    color: #f8f9f8;
}

footer h3:hover {
    color: #2d8cf0;
    cursor: pointer;
}

.ivu-layout-sider {
    min-width: 310px !important;
}

.md-strong {
    color: #c82333;
}

.md-list {
    padding-left: 35px;
}
.md-header {
    color: #333;
}
.md-header:hover {
    color: #333;
}

.bug-div {
    padding-top: 15px;
}

.ivu-menu-horizontal.ivu-menu-light:after {
    height: 0;
}

.wecoding-logo {
    position: absolute;
    font-size: 23px;
}

.card-shadow {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
}

.top {
    background: #ef6d6d;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    padding-top: 4px;
    width: 48px;
    height: 48px;
}

.res-content-div {
    background-color: #fff;
    width: auto;
    overflow: hidden;
    margin: 0 10px auto 5px;
    padding: 20px 20px;
}
.ivu-table-cell > .ivu-input-wrapper {
    width: 110px;
}
.ivu-card-body {
    padding: 0;
}
.wrapper-header {
    margin-bottom: 20px;
}
.catalogue {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 15px;
}
.path-hidden-half {
    position: relative;
    overflow: hidden;
    transition: height .2s ease-in-out;
}

.path-pic-more {
    position: absolute;
    bottom: 0;
    left: 4px;
    right: 4px;
    text-align: center;
    cursor: pointer;
    padding: 5px 0;
}

.path-pic-more::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    box-shadow: inset 0 -15px 30px #fff;
}

.sencond-div-position {
    margin-top: 8px;
    margin-bottom: 8px;
}