/**

home页面

*/
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.navbar ul li {
    list-style: none;
    float: left;
    padding: 0 50px;
    cursor: pointer;
}

.compus-login a,
.navbar ul li {
    color: #fff;
}

.compus-width {
    margin: 0 auto;
}


.cs-bg-head {
    font-family: Arial;font-size: 70px;font-weight: 1000;
}

.nit-head {
    font-size: 20px;
    margin: 25px 0;
    font-family: Arial;
    letter-spacing:5px;
}
.compus-round {
    content: "";
    width: 110%;
    height: 80px;
    background: #fff;
    display: block;
    position: relative;
    top: 952px;
    margin-top: -4%;
    margin-left: -5%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.compus-cover {
    width: 600px;
    height: 500px;
    padding: 240px 0 0 70px;
    color: #fff;
}

.compus-cover a div {
    color: #fff;
}

.mirrorRotateVertical {
    transform: rotateX(180deg);   /* 垂直镜像翻转 */
    margin: 35px 0;opacity: .2
}

.compus-squareness {
    width: 100px;
    height: 20px;
    background-color: #fff;
}

.compus-title-oralce {
    float: left;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    text-align: center;
}

.icon {
    margin-top: 10px;
}


.compus {
    background: url(../images/home/headCover.jpg) no-repeat center 0;
    height: 1000px;
    width: 100%;
}

.compus-content{
    margin: 0 auto;
    text-align: center;
}
.bold-letter{
    font-size: 24px;
}
.compus-content1LeftOracl{
     height: 21px;
     width: 21px;
     background-color: #E6BD0D;
     border-radius: 100%;
    position: relative;
    top: 23px;
    left: -40px;
 }

.compus-little-squa{
    margin: 0 auto;
    background-color: #E9BF15;
    width: 170px;
    height: 30px;
    border-radius: 30px;
    margin: 10px auto 50px;
}


.compus-content-1{
    margin: 0 auto;
    height: 550px;
    width: 850px;
}
.compus-content-1-yorcle-father{
    float: left;
    position: relative;
    top: -310px;
    left: 680px;
}
.compus-content-1-yorcle{
    height: 40px;
    width: 160px;
    padding-top: 4px;
    padding-left: 40px;
    letter-spacing: 10px;
    font-size: 19px;
    margin-top: 20px;
    position: relative;
    top: -40px;
}
.compus-content-1-img{
    border: #ECECEC solid 1px;
    border-radius: 14px;
    float: left;
    z-index: 9;
    width: 610px;
    height: 380px;
    background-color: white;
    margin-top: -388px;
}
.compus-content-1-enter{
     font-weight: lighter;
     letter-spacing:10px;
     font-size: 20px;
     line-height: 55px;
     z-index: 9;
     height: 55px;
     width: 220px;
     border: solid black 1px;
     float: left;
     position: relative;
     top: -95px;
     left: 556px;
 }
.compus-content-1-img-style{
    z-index: 11;
    background: url("../images/home/coampDirect.png") no-repeat;background-size: 100%;
    height: 74%;
    width: 74%;
    margin-top: 10%;
    margin-left: 10%;
}
.compus-content-1-squa{
    z-index: 8;
    float: left;
    background-color: #E9BF15;
    height: 130px;
    width: 900px;
    border-radius: 12px;
    margin-top: 350px;
}


.compus-content-style{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 700px;
    letter-spacing:3px;
}
.compus-content-1-block{
    color: black;
}

.compus-content-2-style{
    margin: 0 auto ;
    border: solid #ECECEC  1px;
    border-radius: 16px;
    width: 950px;
    height: 470px;

}
.compus-content-2-left-oracl{
    float: left;
    height: 21px;
    width: 21px;
    background-color: #E6BD0D;
    border-radius: 50%;
    margin: 15px 8px;
}
.compus-content-3-oracle{
    float: left;
    height: 21px;
    width: 21px;
    background-color: #E6BD0D;
    border-radius: 50%;
    margin: 2px 15px;
}

.ele-notice {
    font-size: 19px;
    float: left;
}

.compus-content-2-left-oracl-right{
    margin-left: 133px;
    float: left;
    height: 21px;
    width: 21px;
    background-color: #E6BD0D;
    border-radius: 100%;
    position: relative;
    left: 363px;
    top: -190px;
}
.compus-content-2-img{
    background: url("../images/home/resource-share.jpg") round;background-size: 100%;
    width: 330px;
    height: 330px;
    border-radius: 100%;
    margin: 30px auto;
}
.compus-content-2-list-left{
    font-family: "微软雅黑";
    writing-mode: vertical-rl;
    float: left;
    line-height: 2;
    font-size: 19px;
    letter-spacing:8px;
}
.compus-content-2-list-right{
    font-family: "微软雅黑";
    writing-mode: vertical-rl;
    float: left;
    line-height: 2;
    font-size: 19px;
    letter-spacing:8px;
}
.compus-content-2-moveToright{
    position: relative;
    left:220px;
}
.compus-content-2-block{
    color: #000;
}
.btn-enter-block {
    border: 1px solid;padding: 15px 80px;font-size: 20px;letter-spacing:10px;width: 280px;margin: 0 auto;
}
.compus-content-2-enter{
    letter-spacing:10px;
    font-size: 20px;
    line-height: 55px;
    z-index: 9;
    height: 55px;
    width: 220px;
    border: solid black 1px;
    float: left;
}
.compus-content-3-enter{
    letter-spacing:10px;
    font-size: 20px;
    line-height: 55px;
    z-index: 9;
    width: 220px;
    border: solid black 1px;
    margin: 30px auto;
}

.compus-content-3-img{
    background: url("../images/home/power_rate_remind.jpg") round;background-size: 100%;
    width: 640px;
    height: 340px;
    margin: 51px auto 0;
}
.compus-content-4-leftImg{
    float: left;
    background: url("../images/home/compusContent1.jpg")round;background-size: 500px;
    width: 375px;
    height: 376px;
    padding: 100px 0 0 180px;
}
.compus-content-4-rightImg{
    float: left;
    background: url("../images/home/compusContent2.jpg")round;background-size: 500px;
    width: 526px;
    height: 376px;
}
.compus-content-4-takeItEasy-1{
    writing-mode: vertical-rl;
    font-family: 微软雅黑;
    font-size: 24px;
    float: left;
    margin-right: 10px;
}
.compus-content-4-loralce{
    width: 20px;
    height: 20px;
    border: 1px black solid;
    border-radius: 100%;
}
.compus-content-4-height{
    width: 0px;
    height: 200px;
    border: 1px black solid;
}
.compus-content-4-content {
    letter-spacing:10px;
    font-size: 35px;
    writing-mode: vertical-rl;
    font-family: 微软雅黑;
    float: left;
    border-left: 2px solid;
    padding: 0 15px 20px 10px;
}
.compus-content-4-content>a{
    color: black;
}
.compus-content-4-remove-right{
    color: white;
}
.compus-content-4-getHelp{
    position: relative;
    left: 30px;
    font-size: 35px;
    font-family: 微软雅黑;
}
.compus-content-4-width{
    width: 200px;
    border: 1px white solid;
    position: relative;
    left: 220px;
    margin-top: 10px;
}
.compus-content-4-loralce-right{
    float: left;
    width: 20px;
    height: 20px;
    border: 1px white solid;
    border-radius: 100%;
}
.compus-content-4-remove-right-gx{
    position: relative;
    top: -5px;
    left:45px;
    font-size: 20px;
}
.compus-content-4-remove-right-Mi{
    position: relative;
    top: 15px;
}

.navbar {
    height: 100px;
    position: fixed;
    overflow: hidden;
    line-height: 100px;
    width: 1920px;
    z-index: 99;
    transition: .4s;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.big-navbar {
    width: 100%;overflow: hidden;margin: 0 auto;
} 

.dark-bg-navbar {
    width: 100%;
    background: rgba(85,106,137,0.8);
    height: 80px;
    line-height: 80px;
}

.nav-logo0 {
    width: 40px;margin-top: 40px;
}

.nav-logo20 {
    width: 60px;margin-top: 20px;transition: .4s;
}
.nav-logo10 {
    margin-top: 10px;
}

.compus-foot {
    border-top: 1px solid #E3E9ED;width: 100%;
}

.compus-buttom-entry {
    background: #fbfbfb;overflow:hidden;padding: 20px 0
}

.compus-entry-div {
    width: 1000px;margin: 0 auto;color: #9d9d9d;
}

.compus-column > div {
    line-height: 2;
}

.a-dark-color {
    color: #9d9d9d;
}
.a-dark-color:hover,.a-dark-color:focus {
    color: #5d5d5d;
}

.right-relate > div {
    line-height: 2;
}

.qq-text {
    text-align: center;
}

.compus-buttom {
    background: #222;overflow:hidden;padding: 10px 0;
}

.compus-buttom-div {
    width: 1000px;margin: 0 auto;color: #9d9d9d;
}

.compus-buttom-left {
    width: fit-content;float: left;
}

.compus-buttom-right {
    float: right;width: fit-content;
}

.guide-point {
    border-radius: 50%;background: #E6BD0D;width: 20px;height: 20px;float: left;margin: 7px 15px;
}
.orange-bg-bar {
    width: 850px;height: 130px;background: #E6BD0D;border-radius: 15px;position: absolute;top:220px;z-index:-1;
}

.guide-title {
    font-size: 24px;letter-spacing: 10px;
}
.guide-item-block {
    overflow: hidden;margin: 10px 0;
}

.btn-enter {
    margin-top: 70px;text-align: center;
}

.guide-img-block {
    width: 550px;height: 340px;background: #fff;border: 1px solid #ececec;border-radius: 15px;padding: 8% 12%;
}
.catalog-head {
    padding: 20px 0;text-align: center;letter-spacing: 3px;
}
.res-content {
    width: 100%;text-align: center;
}

.res-content-block {
    width: 800px;margin: 0 auto;border: 1px solid #ececec; border-radius: 15px;padding: 20px 80px 40px;
}

.res-img {
    width: 280px;height: 280px;border-radius: 50%;
}

.res-content-item {
    margin-left:21px;letter-spacing:10px;
}

.other-content {
    overflow: hidden;width: fit-content;margin: 0 auto;
}

.other-content-round {
    width: 20px; height: 20px;border: 1px solid;border-radius: 50%;float: left;margin: 8px;
}

.other-right {
    border-bottom: 2px solid;padding:8px 20px 8px 0;font-size: 35px;color: #fff;letter-spacing:10px;
}

.other-right-block {
    margin: 10px 0;overflow:hidden;
}

.other-right-round {
    float: left;
    width: 20px;
    height: 20px;
    border: 1px #fff solid;
    border-radius: 100%;
    margin: 7px 10px 7px 0;
}

.other-right-btn {
    font-size: 22px;float: left;letter-spacing:5px;
}

.friend-link-col {
    margin-top: 34px;
}

.elemind-block {
    overflow: hidden;width: fit-content;
}

.center-logo {
    width: fit-content;
    margin: 0 auto;
}